<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/file.css') }}">
    <title>Document</title>
</head>
<body>
    {% for table in sqlData %}
    <div class="table">
    <h3> {{table.name}} </h3>
        <table>
            <thead>
                <tr>
                {% for camp in table.camps %}
                    <th> {{ camp[0] }} </th>
                {% endfor %}
                </tr>
            </thead>
            <tbody>
                <tr>
                    {%for camp in table.camps%}
                        <td> {{camp[1]}} </td>
                    {% endfor %}
                </tr>

            </tbody>
        </table>
    </div>
    {% endfor %}
</body>
</html>