<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/file.css') }}">
    <title>Document</title>
</head>
<body> 
    <div id = "getsql">
        <form id="sendsql" action="/send-sql" method="POST">
            <input type="file" name="file">
            <button type="submit"> Enviar archivo </button>
        </form>
    </div>

    <div id="useFile">
        <form id="usefile" action="/" method="POST">
            <input type="text" name="filename">
            <button type="submit"> Usar </button>
        </form>
    </div>

    {% if sqlData %}
    {% for table in sqlData %}
    <div class="table">
    <h3> {{table.name}} </h3>
        <table>
            <thead>
                <tr>
                {% for camp in table.camps %}
                    <th> {{ camp[0] }} {% if camp == table.primary_key %} (PK) {%endif%} </th>
                {% endfor %}
                </tr>
            </thead>
            <tbody>
                <tr>
                    {%for camp in table.camps%}
                        <td> {{camp[1]}} </td>
                    {% endfor %}
                </tr>

            </tbody>
        </table>
    </div>
    {% endfor %}

    <div class="r">
        <h3> Relations </h3>
            {% if relations %}
            {% for relation in relations %}
                <h4> {{relation[0]}}  &lt;= {{ relation[2] }} => {{ relation[1] }} </h4>
            {% endfor %}
            {%endif%}
    
        </div>

    {% else %}
        <h3> Ningún archivo usado </h3>
    {%endif%}
    
</body>
</html>